DataFactory/pipeline/incremental_pipeline_using_hw_db.json
{
	"name": "incremental_pipeline_using_hw_db",
	"properties": {
		"activities": [
			{
				"name": "Lookup for TableName and LastUpdateDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.HW",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASQL_db",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup for TableName and LastUpdateDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from ', activity('Lookup for TableName and LastUpdateDate').output.firstRow.table_name, ' where ModifiedDate >= ', activity('Lookup for TableName and LastUpdateDate').output.firstRow.LastUpdateDate)\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ASQL_db",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "csv_ds",
						"type": "DatasetReference",
						"parameters": {
							"Path": {
								"value": "concat('@{activity('Lookup for TableName and LastUpdateDate').output.firstRow.table_name}','/','@{activity('Lookup for TableName and LastUpdateDate').output.firstRow.LastUpdateDate}'",
								"type": "Expression"
							},
							"FileName": "Customer"
						}
					}
				]
			},
			{
				"name": "Update LastUpdatedDate",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "asql_db_ls",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "update  dbo.HW\nset LastUpdateDate = select max(ModifiedDate) from SalesLT.Customer "
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"folder": {
			"name": "Assigmnets/Assignment5"
		},
		"annotations": []
	}
}